<div id="wrapper">
    <div id="login" class="animate form">
        <section class="login_content">
            <%= form_for(:session, url: login_path) do |f| %>
                <h1>Login</h1>
                <div>  
                    <%= f.email_field :email, autofocus: true, :placeholder => "Email", :class => "form-control" , 
                    :required => true %>
                </div>
                <div>
                    <%= f.password_field :password, autocomplete: "off",:placeholder => "Password", 
                    :class => "form-control" , :required => true %>
                </div>
                <div>
                    <%= f.submit "Log in", :class => "btn btn-default submit" %>
                </div>
                <% if @login_errors.any? %>
                <div class="alert alert-danger" role="alert">
                  <ul>
                      <% @login_errors.each do |message| %>
                        <li><%= message %></li>
                      <% end %>
                  </ul>
                </div>     
                
            <% end %>
            <div class="clearfix"></div>
                <div class="separator">
                    <p class="change_link">New to site?
                    <%= link_to "Create Account", 'signup' %>
                    </p>
                    <div class="clearfix"></div>
                    <br />
                    <div>
                        <h1><i class="fa fa-paw" style="font-size: 26px;"></i> Boiling Crab!</h1>
                    </div>
                </div>
            <% end %>
            <!-- form -->
        </section>
        <!-- content -->
    </div>
</div>