<li class="comment-item">
	<p>
		<% user = User.find(comment.commender_id) %>
		<%=link_to user_path(user) do %>
			<%= user[:first_name] %> <%= user[:last_name] %>:
		<% end %>
		<%= comment.created_at %>
	</p>
	<p>
		<%= comment.body %>
		<% if current_user.id == comment.commender_id %>
			<%= link_to 'delete', [comment.post, comment], method: :delete, class: "comment-delete", remote: true %>
	  <% end %>
	</p>
</li>
