
<div class="body-wrapper clearFix">

  <!-- left dashboard  -->
  <div class="dashboard dashboard-left">

    <!-- left dashboard profile card -->
    <%= render partial: "profile_card", locals: {user: current_user} %>

    <!-- left dashboard sell popular categories -->
    <%= render "layouts/popular_categories" %>
  </div>

  <!-- main post stream -->
  <div class="content-middle">
    <div class="stream-container">
      <ol class="stream-items">
        <%= render @feed_posts %>
      </ol>
    </div>
  </div>


  <!-- right dashboard -->
  <div class="dashboard dashboard-right">
    <%= render "layouts/popular_sellers" %>
    <%= render "layouts/potential_friends" %>
  </div>
  
</div>

