<div class="profile-content" >

    <div class="profileCanopy">
        <div class="profileCanopy-header">
            <div class="profile-container">
                <div class="profile-avatar">
                    <%= image_tag(@user.image.url, class: "profile-avatar-img") %>
                </div>
            </div>
        </div>
        <div class="profileCanopy-navBar">
            <div class="profile-container">
                <div class="profileCanopy-navBar-nav">
                   <ul class="profileNav-list">
                        <li class="profileNav-item">
                            <%= link_to user_path(@user), :class => "profileNav-link" do %>
                                <div class="profileNav-label">Selling</div>
                                <div class="profileNav-value"><%= @user.nPost %></div>
                            <% end %>
                        </li>

                        <li class="profileNav-item">
                            <%= link_to user_sold_path(@user), :class => "profileNav-link" do %>
                                <div class="profileNav-label">sold</div>
                                <div class="profileNav-value"><%= @user.nSold %></div>
                            <% end %>
                        </li>
                        <li class="profileNav-item">
                            <%= link_to user_following_path(id: @user.id), :class => "profileNav-link"  do %>
                                <div class="profileNav-label">following</div>
                                <div class="profileNav-value"><%= @user.nFollowing %></div>
                            <% end %>
                        </li>
                        <li class="profileNav-item is-active">
                            <%= link_to user_follower_path(id: @user.id), :class => "profileNav-link" do %>
                                <div class="profileNav-label">followers</div>
                                <div class="profileNav-value"><%= @user.nFollower %></div>
                            <% end %>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="profile-body">
        <div class="profile-container clearFix" style="margin-top: 10px">
            <div class="dashboard dashboard-left">
                <div class="profileHeaderCard">
                    <h1><a class="profileHeaderCard-name" href="#"><%= @user.first_name %> <%= @user.last_name %></a></h1>
                    <p class="profileHeaderCard-bio"> some thing
                    </p>
                    <div class="profileHeaderCard-location">
                    <span class="glyphicon glyphicon-globe"></span>
                    <span>address</span>
                    </div>
                    <div class="profileHeaderCard-joinDate">
                    <span class="glyphicon glyphicon-time"></span>
                    <span>Joined date</span>
                    </div>
                </div>
                
                <!-- left dashboard sell popular categories -->
                <%= render "layouts/popular_categories" %>
            </div>

            <!-- <div ui-view></div> -->

            <!-- Follower display -->
            <div class="content-middle">
              <div class="stream-container">
                <ul class="friends-list">
                  <% @followers.each do |follower| %>
                    <% cache(cache_key_for_follower_user(follower)) do %>
                      <li class="friends-card">
                        <div class="friends-card-inner">
                          <%= link_to user_path(follower), :class => 'friends-card-link' do%>
                            <%= image_tag(follower.image.url, class: "friends-card-avatar") %>
                            <div class="friends-card-name"><%= follower.first_name%> <%= follower.last_name %></div>
                          <% end %>
                         <!--  <div class="friends-card-description">Followed by {{ following.followBy}} people</div>
                          <div>
                            <button type="button" class="btn btn-default friends-follow-btn">Unfollow</button>
                          </div>
     -->                  </div>
                      </li>
                    <% end %>
                  <% end %>
                </ul>
              </div>
            </div>

            <!-- right dashboard -->
            <div class="dashboard dashboard-right">
              <%= render "layouts/popular_sellers" %>
              <%= render "layouts/potential_friends" %>
            </div>

        </div>
    </div>
</div>