<h1>New Friend</h1>

<%= form_tag(friendships_path, method: "post") do %>
	<%= label_tag(:friend_id, "Enter new friend's id") %><br>
	<%= text_field_tag(:friend_id) %>
	<%= submit_tag("Add") %>
<% end %>

<br>
<%= link_to "Back", posts_path %>