<% if current_user %> 
  <ul> 
    <li><%= current_user.email %></li> 
    <li><%= link_to "Log out", logout_path, method: "delete" %></li> 
  </ul> 
<% end %>

<div class="header">
  <div class="container">
    <h1>Boiling Crab</h1>
  </div>
</div>

<div class="tags">
  <div class="container">
    <div class="cards row">

      <% @dishes.each do |d| %>
      <div class="card col-xs-4">
        <h2><%= d.name %></h2>
        <%= image_tag(d.image.url, size: "160x100") %>
        <p><%= d.description %><p>
        <p>Price: <%= d.price %><p>
        <p> <%= link_to "Learn more", dish_path(d) %> </p>
      </div>
      <% end %>

    </div>
  </div>
</div>

<p>
  <%= link_to "Add new dish", 'dishes/new' %>
</p>
