<%= form_for @post do |f| %>
  <div>
    <p>Title:</p>
     <%= f.text_field :title, :placeholder => "Title",
    :class => "form-control" , :required => true %>
  </div>

  <div>
    <p>Description:</p>
     <%= f.text_area :description, :placeholder => "Description",
    :class => "form-control" , :required => true %>
  </div>

  <div>
    <p>Price:</p>
     <%= f.text_field :price, :placeholder => "Price",
    :class => "form-control" , :required => true %>
  </div>
  
  <div>
    <p>Image:</p>
    <%= f.file_field :image %>
  </div>

  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>