<% if current_user %> 
  <ul> 
    <li><%= current_user.email %></li> 
    <li><%= link_to "Log out", logout_path, method: "delete" %></li> 
    <li><%= link_to "Profile", user_path(current_user) %>
  </ul> 
<% end %>

<h1>My Posts</h1>

<% @posts.each do |p| %>
  <% cache(cache_key_for_submission_row(p)) do %>
    <h2><%= p.title %></h2>
    <p>Description: <%= p.description %><p>
    <p>Price: <%= p.price %><p>
    <%= link_to "detail", post_path(p) %>
    <%= link_to "edit", edit_post_path(p) %>
    <%= link_to "delete", post_path(p), method: :delete,
                          data: {confirm: 'Are you sure?'} %>
  <% end %>
<% end %>

<h1>Options</h1>
<p>
  <%= link_to "Add new post", 'posts/new' %>
</p>
<p>
  <%= link_to "Add new friend", new_friendship_path %>
</p>
