<div class="body-wrapper clearFix">

  <!-- left dashboard  -->
  <div class="dashboard dashboard-left">

    <!-- left dashboard profile card -->
    <div class="dashboardProfileCard module">
      <a href="#" class="dashboardProfileCard-bg"></a>
      <div class="dashboardProfileCard-content">
        <div class="dashboardProfileCard-avatarContainer">
          <a class="dashboardProfileCard-avatarLink">
            <div class="dashboardProfileCard-avatarImage">
              <%= image_tag(@user.image.url, class: "profile-avatar-img") %>
            </div>
          </a>
        </div>
      </div>
      <div class="dashboardProfileCard-userFields"> 
          <div class="dashboardProfileCard-name">
            <a href="#" class="u-linkClean"><%= current_user.first_name %> <%=current_user.last_name %></a>
          </div>
      </div>
      <div class="dashboardProfileCard-stats">
          <ul class="dashboardProfileCard-statsList clearFix">
            <li class="dashboardProfileCard-stat">
              <%= link_to user_path(@user), :class => "dashboardProfileCard-statLink u-linkClean" do %>
                <span class="dashboardProfileCard-statLabel">Sell</span>
                <span class="dashboardProfileCard-statValue"><%= @user.nPost %></span>
              <% end %>
            </li>
            <li class="dashboardProfileCard-stat">
              <%= link_to user_following_path(id: @user.id), :class => "dashboardProfileCard-statLink u-linkClean"  do %>
                <span class="dashboardProfileCard-statLabel">FOLLOWING</span>
                <span class="dashboardProfileCard-statValue"><%= @user.nFollowing %></span>
              <% end %>
            </li>

            <li class="dashboardProfileCard-stat">
              <%= link_to user_follower_path(id: @user.id), :class => "dashboardProfileCard-statLink u-linkClean" do %>
                <span class="dashboardProfileCard-statLabel">FOLLOWERS</span>
                <span class="dashboardProfileCard-statValue"><%= @user.nFollower %></span>
              <% end %>
            </li>
          </ul>
      </div>
    </div>

    <!-- left dashboard sell categories -->
    <div class="dashboardCategoryCard module">
      <div class="dashboardCategoryCard-header">
        <h3 class="card-header"><span>Popular goods</span></h3>
        <span class="card-middot">&#8729;</span>
        <a role="button" class="card-link">Change</a>
      </div>

      <div class="dashboardCategoryCard-items">
        <ul class="dashboardCategoryCard-itemsList">
          <li class="dashboardCategoryCard-item">
            <a href="#">
              <p class="goods-name">Car</p>
              <p class="goods-number">100 posts in this category</p>
            </a>
          </li>

          <li class="dashboardCategoryCard-item">
            <a href="#">
              <p class="goods-name">Desk</p>
              <p class="goods-number">130 posts in this category</p>
            </a>
          </li>

          <li class="dashboardCategoryCard-item">
            <a href="#">
              <p class="goods-name">book</p>
              <p class="goods-number">130 posts in this category</p>
            </a>
          </li>

        </ul>
      </div>
    </div>
  </div>

  <!-- main post stream -->
  <div class="content-middle">
    <div class="stream-container">
      <ol class="stream-items">
      <%= form_for @post do |f| %>
        <li class="stream-item">
          <div class="stream-post">
            <div class="stream-content">
            <div>
              <p class='post-form-label'>Title:</p>
                 <%= f.text_field :title, :placeholder => "Title" , :required => true %>
              </div>

              <div>
                <p class='post-form-label'>Description:</p>
                 <%= f.text_area :description, :placeholder => "Description", :required => true %>
              </div>

              <div>
                <p class='post-form-label'>Price:</p>
                 <%= f.text_field :price, :placeholder => "Price", :required => true %>
              </div>
              
              <div>
                <p class='  '>Image:</p>
                <%= f.file_field :image %>
              </div>
              <hr class="post-hr">
              <div class="actions">
                <%= f.submit class: 'btn btn-primary' %>
              </div>
            </div>
          </div>
        </li>
        <% end %>
      </ol>
    </div>
  </div>

  <!-- right dashboard -->
  <div class="dashboard dashboard-right">
    <div class="dashboardRecCard module">
      <div class="dashboardRecCard-header">
        <h3 class="card-header"><span>Popular sellers</span></h3>
        <span class="card-middot">&#8729;</span>
        <a role="button" class="card-link">Refresh</a>
        <span class="card-middot">&#8729;</span>
        <a role="button" class="card-link">View all</a>
      </div>

      <div class="dashboardRecCard-items">
        <ul class="dashboardRecCard-itemsList">
          <li class="dashboardRecCard-item">
            <div class="rec-user-dismiss">x</div>
            <div class="dashboardRecCard-item-inner">
              <a href="#" class="dashboardRecCard-item-link">
                <img src="https://sendgrid.com/blog/wp-content/uploads/2013/01/Question-mark.jpg" class="rec-user-avatar">
                <div class="rec-user-name">Ziqiang Shi</div>
              </a>
              <div class="rec-user-description">Followed by 25 people</div>
              <div class="">
                <button type="button" class="btn btn-default rec-follow-btn">Follow</button>
              </div>
            </div>
          </li>

          <li class="dashboardRecCard-item">
            <div class="rec-user-dismiss">x</div>
            <div class="dashboardRecCard-item-inner">
              <a href="#" class="dashboardRecCard-item-link">
                <img src="https://sendgrid.com/blog/wp-content/uploads/2013/01/Question-mark.jpg" class="rec-user-avatar">
                <div class="rec-user-name">Ziqiang Shi</div>
              </a>
              <div class="rec-user-description">Followed by 25 people</div>
              <div class="">
                <button type="button" class="btn btn-default rec-follow-btn">Follow</button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="dashboardRecCard module">
      <div class="dashboardRecCard-header">
        <h3 class="card-header"><span>People you may know</span></h3>
        <span class="card-middot">&#8729;</span>
        <a role="button" class="card-link">Refresh</a>
        <span class="card-middot">&#8729;</span>
        <a role="button" class="card-link">View all</a>
      </div>

      <div class="dashboardRecCard-items">
        <ul class="dashboardRecCard-itemsList">
          <li class="dashboardRecCard-item">
            <div class="rec-user-dismiss">x</div>
            <div class="dashboardRecCard-item-inner">
              <a href="#" class="dashboardRecCard-item-link">
                <img src="https://sendgrid.com/blog/wp-content/uploads/2013/01/Question-mark.jpg" class="rec-user-avatar">
                <div class="rec-user-name">Ziqiang Shi</div>
              </a>
              <div class="rec-user-description">25 mutual people</div>
              <div class="">
                <button type="button" class="btn btn-default rec-follow-btn">Follow</button>
              </div>
            </div>
          </li>

          <li class="dashboardRecCard-item">
            <div class="rec-user-dismiss">x</div>
            <div class="dashboardRecCard-item-inner">
              <a href="#" class="dashboardRecCard-item-link">
                <img src="https://sendgrid.com/blog/wp-content/uploads/2013/01/Question-mark.jpg" class="rec-user-avatar">
                <div class="rec-user-name">Ziqiang Shi</div>
              </a>
              <div class="rec-user-description">10 mutual friends</div>
              <div class="">
                <button type="button" class="btn btn-default rec-follow-btn">Follow</button>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>

