<!DOCTYPE html>
<html>
<head>
  <title>BoilingCrab</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  
  <%= stylesheet_link_tag  "gentelella/bootstrap.min" , media: "all" %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag  "gentelella/animate.min" , media: "all" %>

  <!-- Custom styling plus plugins -->
  <%= stylesheet_link_tag  "gentelella/custom" , media: "all" %>    
  <%= stylesheet_link_tag  "gentelella/icheck/flat/green" , media: "all" %>    

  <%= javascript_include_tag "gentelella/jquery.min" %>
</head>
<body style="background-color:#F7F7F7;">

<%= yield %>

</body>
</html>
